.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;

  align-items: center;
  justify-content: center;
}

.wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.wrap li {
  /* background: gold; */
}

.video-item {
  background: white;
  margin: 10px;
  padding-bottom: 16px;
  color: black;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 24px;
  overflow: hidden;
}

h3 {
  margin-top: 8px;
  margin-bottom: 8px;
}

video {
  background-color: black;
}

tr.property {
}

td.key {
  text-align: start;
  background-color: orange;
}

td.value {
  background-color: green;
  width: 96px;
  text-align: end;
}
